<c-vars variant="default"></c-vars>
<span
    class="
    d-inline-flex align-items-center
    rounded-pill border px-2 py-1 small fw-semibold
    {% if variant == 'default' %}badge-accent
    {% elif variant == 'secondary' %}bg-light text-body border-light
    {% elif variant == 'destructive' %}bg-danger text-white border-danger
    {% elif variant == 'outline' %}bg-transparent text-body
    {% elif variant == 'dark' %}badge-dark
    {% endif %}
    {% if class %}{{ class }}{% endif %}
    "
    {{ attrs }}
>
    {{ slot }}
</span>
