<div
    id="toast"
    x-data="{
        isVisible: false,
        timeoutId: null,
        show() {
            this.isVisible = true;
            if (this.timeoutId) clearTimeout(this.timeoutId);
            this.timeoutId = setTimeout(() => { this.hide(); }, 3000);
        },
        hide() { this.isVisible = false; }
    }"
    @show-toast.window="
        if($event.detail === '{{ id }}' || $event.detail.value === '{{ id }}') { show(); }
    "
    x-show="isVisible"
    x-transition
    class="position-fixed bottom-0 end-0 m-4 z-3 {% if class %}{{ class }}{% endif %}"
    role="alert"
    {{ attrs }}
>
    {{ slot }}
</div>
