<c-vars side="right"></c-vars>
<template x-teleport="body">
    <div x-show="open" x-cloak>
        <div class="offcanvas-backdrop show" @click="hideSheet()"></div>
        <div class="offcanvas offcanvas-{{ side }} show d-block position-fixed shadow-lg"
             style="width: 350px; {% if side == 'right' %}right: 0;{% else %}left: 0;{% endif %} top: 0; bottom: 0; z-index: 1051; border-radius: 0; border-{% if side == 'right' %}left{% else %}right{% endif %}: 1px solid var(--border-default);"
             tabindex="-1">
            <div class="offcanvas-header border-bottom" style="border-color: var(--border-default);">
                <button type="button" class="btn-close" @click="hideSheet()"></button>
            </div>
            <div class="offcanvas-body">
                {{ slot }}
            </div>
        </div>
    </div>
</template>